/* GLOBAL STYLES */
body {
  /*background-image: url("cockatielinblack.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: black;
  background-attachment: fixed;
  /*background: #333;*/
  /* background: #333 */

/*  HIDING FROM BEFORE
  padding-top: 5em;
  display: flex;
*/
  /*justify-content: center;*/

/*
  text-align: left;
  float: right;
  padding-left: 5em;
*/
}
/* FOR ABOUT ME PAGE */
body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.about {
  background-color: white;
  width: 200px;
  border: 15px solid #8AC007;
  padding: 50px;
  margin: 20px;
  /*display: flex;
  align-items: center;*/



}

/*
body.aboutc {
  background: url("parrot_flying.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5em;
  display: flex;
  text-align: left;
  float: right;
  padding-left: 5em;
}
*/
.about-bg {
background: url("templates/pajaro.png") no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.contact-bg {
background: url("templates/sunnywalking.jpg") no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.projects-bg {
background: url("templates/twosunnies.jpg") no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.gallery-bg {
background: url("templates/sunface1.jpg") no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
/* DEMO-SPECIFIC STYLES */

.typewriter h1 {
  color: white;
  /*color: #fff;*/
  /*font-family: monospace;*/
  font-family: monospace;

  /*Didone, Monaco, Didot*/
  font-size: 30px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #55CAF4 }
  /* #55CAF4 */
}

/**************************************/

html {
  background: url("sunnies on branch.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5em;
  display: flex;
  text-align: left;
  float: right;
  padding-left: 5em;
}

/**************************/

.button {
  background-color: black;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  /*text-decoration: none;
  display: inline-block;*/
  font-size: 10px;
  position:relative;
  bottom:0;
  margin: 20em 2px;
  cursor: pointer;
  float: left;
  font-size: 10px;
  border-radius: 8px;


}

/**************************/


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/*
<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="img_forest.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
*/ /* TODO: MUST ADD TO THE ABOUT ME PAGE
/*******************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #111; 115493 #56cca1 #2A6404 #DF4D30 #ff9429*/
  background-color: #ff7802;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffe28f;
  /* color: 818181  FBC627 ffd24d ffde7d*/
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
