body.main {
  background-color: white;

  background: url(computerco.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /*  E7A490 ED4C38 background-image: url('unicorn.png');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
    */
}

body.about {

  /*background: url(computercocopy.jpg);

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;*/

  /*background: border-box black;*/
  background-color: white;
  border: 50px solid black;
  background-clip: content-box;
/*background-color: #28A0DC;*/
}

* {
  box-sizing: border-box;

/*
  top: 400px;
  right: 200px;
  */

}
.zoom {

  padding: 50px;
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 390px;
  height: 240px;
  /*margin-left: 138px;*/
  margin-top: 200px;
  /*
  margin: 0 auto;
  */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
}
div.text {
  font: 400 20px/1.3 'Verdana', Helvetica, sans-serif;
  color: white;
  font-stretch: condensed;

  margin-bottom: 350px;
}

div.slideshow-container {

  float:right;


}


.rotateimg180 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*
.content {
  padding: 20px;

}
*//*
.article-image {
  float: left;
  /*width: 300px;*/
  /*
  max-width: 100%
  height: 200px;
  margin-right: 20px;

  margin-bottom: 400px;

}
*/
p {
  margin-bottom: 20px;
  font-family: 'Georgia';
  font-weight: lighter;
  font-stretch: ultra-condensed;
  color: black;
  /*background-color: white;*/
  padding: 35px;
  font-size: 25px;
  right:0;

}

/*

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;    /* Medium blue */
/*}

/*
.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;  /* This is important
}*/
/*

.square {
  height: 500px;
  width: 500px;
  position: absolute;
  /*left: 50px;
  top: 150px;*/
  /*
  border-radius: 10%;
  background-color: white;
}
*/
h1 {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;

  font-style: normal;
  font-stretch: ultra-expanded;
  /*
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  /*color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);

  font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  */
  font: 400 50px/1.2 'Leckerli One', Helvetica, sans-serif;
  /*color: #000;*/
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
}

h2 {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  /*font-family: "Merienda One";*/
  font: 400 20px/1.3 'Andale Mono', Helvetica, sans-serif;
  color: black;
  /*text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
*/
}
/*Merienda One Font*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141E25 ;
  opacity: 0.9;

}
/* #141E25 Black
#FBCE37 Yellow
#63636A  Grey*/

/*li {
  float: right;
}*/

li a {
  float:right;
  display: block;
  color: white;
  font-family: "Merienda One";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #FBCE37;

}

/*

li b {
  display: block;
  color: white;
  font-family: "Merienda One";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li b:hover {
  background-color: #FBCE37;

}
*/
