@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}
h2,h4,h6 {
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
  padding-left: 80px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 45px;
	font-stretch: extra-expanded;
	font-size-adjust: auto;

}

p {
  color: black;
  font-size: 20px;
  font-weight: 200;
  align: left;
  padding-left: 80px;
	padding-right: 80px;
	font-family: "Avenir", "open-sans-1", "open-sans-2", sans-sans-serif;
}

.container {
	width: auto; /* 80 % */
	margin: 0 auto;
	font-family: "Avenir";
}

header {
  background: #1D2731;

}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
	padding-left: 0;
	padding-top: 14px;

  /*padding: 10px 0;*/
  /*font-size: 25px;*/
  font-family: "Avenir";
  font-weight: normal;
  font-stretch: extra-condensed;
  font-size: 25px;
  color: white;

  /*padding-left: 0px;*/
	/*padding-right: 0px;*/
}

nav {
  float: right;
	/*font-family: "Arial";
	/*font-weight: lighter;*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px; /* 70px */
  padding-top: 40px; /* 23px */
  padding-bottom: 20px;
  padding-right: 10px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px; /* 20 % */
}

nav a:hover {
  color: #D9B310;

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #D9B310;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #1D2731;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
	background: #1D2731;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  /*background-color: #ddd;*/
}

.dropdown:hover .dropdown-content {
  display: block;

}

.links {
	padding-left: 80px;
	font-size: 20px;
}

FIGURE, FIGCAPTION {

display: block;
font-style: italic;
font-variant: small-caps;

}

.other {

	padding-left: 80px;
	font-size: 17px;
}
	/*padding-right: 30px;
	text-align: center;
	padding-left: 40px;
}*/
